section#about.b-about
    .container
        .b-about__row.row
            .col-xs-12.col-sm-6
                h4.b-about__h4 About Us
                hr.b-about__hr
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                .b-address
                    h5.b-address__h5
                        i.fa.fa-tags
                        span 450 fifth Avenue, 34th floor. NYC
                    h5.b-address__h5
                        i.fa.fa-phone
                        span (+800) 123 4567 890
                    h5.b-address__h5
                        i.fa.fa-envelope-o
                        span info@bookstore.com
            .col-xs-12.col-sm-6
                h4.b-about__h4 Latest tweets
                hr.b-about__hr
                .b-tweets
                    p.b-tweets__p There are some amazing submissions in the latest &nbsp
                        a.b-tweets(href="#") @tutsplus ‘Created by you ’challenge http://t.co/duajgjahuz 16 hour ago
                    p.b-tweets__p There are some amazing submissions in the latest &nbsp
                        a.b-tweets(href="#") @tutsplus ‘Created by you ’challenge http://t.co/duajgjahuz 16 hour ago
                    p.b-tweets__p There are some amazing submissions in the latest &nbsp
                        a.b-tweets(href="#") @tutsplus ‘Created by you ’challenge http://t.co/duajgjahuz 16 hour ago
            .b-top.col-xs-12
                a.b-top__link(ng-click="scrollTo('home')", title="To Top")
                    i.b-top__arrow.fa.fa-arrow-up