section#footer.footer
    .container
        .b-footer.row
            .b-copyright.col-xs-12.col-sm-6
                i.fa.fa-copyright
                span.b-copyright__span 2017 Online library. All rights reserved
            .b-cards.col-xs-12.col-sm-6
                img.b-cards__img.img.img-responsive(src='images/cards.png')