section.b-gift
    .container
        .row
            .b-gift-card.col-xs-12
                h2.b-gift-card__h2 book library gift card
                hr.b-gift-card__hr
                hr.b-gift-card__hr
        .b-info
            .col-sm-12.col-md-6
                .b-info-text
                    h3.b-info-text__h3 any occasion
                        i.fa.fa-gift
                    p.b-info-text__p The great philosopher Blaise Pascal believed that human misfortune was the result of other people’s inability “to sit quietly in one’s room”
                .b-info-text
                    h3.b-info-text__h3 special occasion
                        i.fa.fa-graduation-cap
                    p.b-info-text__p Here are many special occasions in the lives of our friends, family and colleagues, and each offers an opportunity to commemorate the day with a unique and personalised book.
                .b-info-text
                    h3.b-info-text__h3 card for kids
                        i.fa.fa-smile-o
                    p.b-info-text__p The thrill of double war. The excitement of shouting "Gin!" Every kid knows at least a handful of card classics, and every grown up kid remembers the fun of playing them.
