section#guide.b-guide.container
    h2.b-guide__h2 online library guide
        hr.b-guide__hr
        hr.b-guide__hr
        h4.b-guide__h4 Online library guide is the biggest books library in the world that has alot of the popular books presented here. Top Authors are here just subscribe your email address and get updated with us.
        .row
            .b-cards
                .b-gift-card.col-xs-6.col-md-3
                    .b-card
                        .b-card__icon
                            i.fa.fa-gift
                        h3.b-card__h3 Free Gift Wrap
                        hr.b-card__hr
                        hr.b-card__hr
                        p Free gift wrapping on all purchases. Wrapping includes a blue box with your choice with Ribbon.
                .b-selling.col-xs-6.col-md-3
                    .b-card
                        .b-card__icon
                            i.fa.fa-book
                        h3.b-card__h3 Order books
                        hr.b-card__hr
                        hr.b-card__hr
                        p We provide you the best selling of the used books. You can sell them to us if you have read them once.
                .b-shipping.col-xs-6.col-md-3
                    .b-card
                        .b-card__icon
                            i.fa.fa-truck
                        h3.b-card__h3 Free Shipping
                        hr.b-card__hr
                        hr.b-card__hr
                        p We provide free shipping over the $1000 purchase from one country to another with extra discount
                .b-exchange.col-xs-6.col-md-3
                    .b-card
                        .b-card__icon
                            i.fa.fa-money
                        h3.b-card__h3 Returns & Exchange
                        hr.b-card__hr
                        hr.b-card__hr
                        p Return and Exchange is possible in 5 days. In case of lost or damage Return & Exchange is not possible.