a(name='library')
section
    ng-include(src="'views/table.html'", ng-show="currentView == 'table'")
    ng-include(src="'views/edit.html'", ng-show="currentView == 'edit'")
    ng-include(src="'views/books.html'", ng-show="currentView == 'books'")
    ng-include(src="'views/editBook.html'", ng-show="currentView == 'editBook'")
    ng-include(src="'views/search.html'", ng-show="currentView == 'search'")
