section#subscribe.b-subscribe
    .b-letter.container
        .row
            h2.b-letter__h2 SUBSCRIBE TO OUR NEWSLETTER FOR THE LATEST NEWS
            hr.b-letter__hr
            hr.b-letter__hr
            p.b-letter__p Update your-self right now! By filling the form below, the lastest information about a thousand books will be sent directly to your email weekly.
            .b-subscription
                input.b-subscription__input(placeholder="enter your e-mail")
                button.b-subscription__btn subscribe