@font-face {
  font-family: 'Asap-Regular';
  src: url("../fonts/Asap-Regular.eot"), url("../fonts/Asap-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Asap-Regular.woff") format('woff'), url("../fonts/Asap-Regular.woff2") format('woff2'), url("../fonts/Asap-Regular.ttf") format('truetype'), url("../fonts/Asap-Regular.svg#Asap-Regular") format('svg');
  font-weight: 600;
  font-style: normal;
}
