@import "../stylus-mixins/typography.styl"

webfont('Asap-Regular', 'Asap-Regular', 600, normal)

body
  background linear-gradient(red, yellow)
  h1
    font 1em Arial, sans-serif
    color yellow
    text-transform uppercase
body
  background-color rgba(255,0,0,0.4)
.flex-container
  display flex
  width 400px
  height 250px
  background-color lightgrey
.flex-item
  background-color black
  width 100px
  height 100px
  margin 10px

