div.panel-body
    h2 List authors
    div
        button(ng-click="editOrCreate()") Add author
        div.form-group
            input(ng-model="searchString")
            button(ng-click="search(searchString)") Search
    table.table
        thead
            tr
                th
                    a(ng-click="sort(sortValue)") Author name
                th BirthDate
                th Edit
                th Delete
        tbody
            tr(ng-repeat='item in authors | orderBy: sortValue')
                td
                    a(ng-click="allBooks(item)") {{item.surname}} {{item.name}} {{item.patronymic}}
                td {{item.birthdate | date :"dd.MM.y"}}
                td
                    button
                        i.fa.fa-pencil-square-o.fa-100px(aria-hidden="true", ng-click="editOrCreate(item)")
                td
                    button
                        i.fa.fa-times.fa-100px(ng-click="delete(item)")
                td(hidden) {{item.books}}



