.footer
  width 100%
  background $brand_footer

.b-footer
  color $brand_white
  text-align left

.b-copyright
  padding 15px
  & i
    padding 5px

.b-cards
  &__img
    float right
    margin 10px
    &:after
      clear both