html
  position relative
  min-height 100%
  margin 0
  padding 0
body
  p
    font normal 17px/1 'roboto-regular', sans-serif
body
  h1
    font bold 40px/1.1 'roboto-bold', Arial, sans-serif
body
  h2, h3
    font bold 36px/1.5 'roboto-bold', Arial, sans-serif
body
  a
    font normal 17px/1 'roboto-regular', sans-serif
    color $brand_white
    &:hover
      color $brand_white
button
  cursor pointer
  position relative
  border 0
  outline 0
  background $brand_lightBlue
  border-radius 5px
  padding 5px 8px
  color $brand_white

.fa
  color $brand_white
.table a
  text-decoration none

