.b-guide
  width 100%
  background-color $brand_gray
  padding 35px
  &__h2
    margin 0
    text-align center
    text-transform uppercase
  &__hr
    background-color $brand_lightBlue
    height 1px
    width 60px
    margin 5px auto
  &__h4
    width 80%
    margin 20px auto
    text-align center
    font 1.1em 'roboto-regular'


.b-card
  border 1px solid $brand_border_gray
  border-radius 5px
  text-align center
  position relative
  padding 35px
  &:hover
    background-color $brand_lightBlue
    & i
      color $brand_lightBlue
    & h3 , & p
      color $brand_white
  &__icon
    background-color $brand_white
    border-radius 50%
    width 100px
    height 100px
    margin 0 auto
    & i
      color $brand_black
      margin-top 15px
      font-size 70px
  &__h3
    font 1.4em 'roboto-bold'
  &__hr
    background-color $brand_border_gray
    height 1px
    width 45px
    margin 5px auto