.b-content
  position relative
  &__h2
    text-transform uppercase
    text-align center

.b-edit
  &__btn
    float right
    margin-right 60px

.b-table
  text-align center
  & a
    color $brand_black
  &__sort
    font bold 17px 'roboto-bold', Arial, sans-serif
    &:hover
      color $brand_black
      text-decoration underline
  &__link
    font 17px 'roboto-regular', Arial, sans-serif
    &:hover
      color $brand_black
      text-decoration underline
  &__thead tr th
    text-transform uppercase
    font bold 17px 'roboto-bold', Arial, sans-serif
    text-align center
    color $brand_black
  &__tbody tr td
    font 15px 'roboto-regular', Arial, sans-serif
    text-transform capitalize
    color $brand_black

.b-pages
  width 100%
  position relative
  &__ul
    list-style none
    width 30%
    margin 0 auto
    padding 0
    text-align center
  &__li
    display inline-block
    padding 0 10px
  &__a
    color $brand_lightBlue
    &:hover
      color $brand_lightBlue
      border-bottom 1px solid $brand_lightBlue