
<div class="panel-body">
  <h2>List authors</h2>
  <div>
    <button ng-click="editOrCreate()">Add author</button>
    <div class="form-group">
      <input ng-model="searchString"/>
      <button ng-click="search(searchString)">Search</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><a ng-click="sort(sortValue)">Author name</a></th>
        <th>BirthDate</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in authors | orderBy: sortValue">
        <td><a ng-click="allBooks(item)">{{item.surname}} {{item.name}} {{item.patronymic}}</a></td>
        <td>{{item.birthdate | date :"dd.MM.y"}}</td>
        <td>
          <button><i class="fa fa-pencil-square-o fa-100px" aria-hidden="true" ng-click="editOrCreate(item)"></i></button>
        </td>
        <td>
          <button><i class="fa fa-times fa-100px" ng-click="delete(item)"></i></button>
        </td>
        <td hidden="hidden">{{item.books}}</td>
      </tr>
    </tbody>
  </table>
</div>